.bgstyle {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -10;
}

.cold {
  background-color: blue;
  background: url("https://flyracing.s3.amazonaws.com/sites/flyracing/files/Cold-Landscape_2.jpg")
    no-repeat;
  background-size: cover;
}
.hot {
  background-color: red;
  background: url("https://d2gr5kl7dt2z3t.cloudfront.net/blog/wp-content/uploads/2017/02/20235239/shutterstock_218545993-750x500.jpg")
    no-repeat;
  background-size: cover;
}
