.weatherWindow {
  width: 20%;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.error-container {
  background-color: yellow;
  background-image: url("../../img/sad-face.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.error {
  flex-wrap: wrap;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 13px #000;
  opacity: 0.7;
  color: #fff;
  transform: translateY(-50px);
}
.error-code {
  font-size: 5rem;
}

.error-message {
  font-size: 2rem;
}
